* {
  padding: 0px;
  margin: 0px;
}
/*able to chagne the body and keep everything put together*/
body {
  margin: 0px;
}
/*Start of navigation bar css*/
li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  color: black;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 100px;
  overflow: hidden;
  background-color: rgb(155, 155, 155);
  height: 75px;
}
li a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  display: block;
}
li a:hover {
  text-decoration: underline;
}
/*h1 header About me*/
.section_title h1 {
  color: black;
  padding-left: 20px;
  font-size: 25px;
  background-color: white;
}
section h1 {
  text-decoration: underline;
}
section p {
  font-size: 25px;
}
/*Profile pic css*/
section .profile_pic {
  width: 20%;
  height: 20%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
section h1 {
  color: black;
  text-align: center;
}
.work {
  text-align: center;
  text-decoration: underline;
}
/*Where all the images and main part of the site displays my work*/
main {
  display: flex;
  flex-wrap: wrap;
}
.todolist img {
  text-align: center;
  border-radius: 10px;
  width: 20%;
  height: 5%;
}
.todolist {
  padding: 10px;
  text-align: center;
  width: 100%;
}
.todoheader {
  padding: 20px;
  background-color: rgb(155, 155, 155);
  color: black;
}
/*This is controlling the way the images are flex in a flex box and stack uppon each other when website tab is smaller/resonsive*/
.card {
  flex: 1 0 0;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  margin-top: 40px;
}
.card header {
  padding: 20px;
  background: rgb(155, 155, 155);
  color: black;
}
.card img {
  width: 100%;
  min-width: 400px;
  cursor: pointer;
}
/* Start of the footer and css for the contact fomr*/
footer {
  background-color: rgb(167, 166, 165);
  position: relative;
  margin-top: 200px;
}
footer h1 {
  text-align: center;
}
footer form {
  text-align: center;
}
/*start of the media screen. Some backgrounds are turned blue when the window is smaller and there text color turns white so they can be visible*/
@media screen and (max-width: 700px) {
  nav {
    background-color: navy;
    flex-direction: column;
  }
  .section_title h1 {
    color: white;
    background-color: navy;
  }
  /*This will set the navigation attribute to adjust to the size of teh window. It will make the naviagiton wrap and become a column*/
  nav li {
    display: column;
    flex-wrap: wrap;
  }
  nav li a {
    color: white;
  }
  .todolist img {
    width: 60%;
  }
  /*adjustment for the main and first project image*/
  .profile_pic_section {
    margin-top: 75px;
  }
  .profile_pic_section img {
    width: 60%;
  }
  .todolist {
    width: 100%;
  }
  /*footer will change color to blue matching the navigation on top font color*/
  footer h1 {
    color: white;
  }
  footer label {
    color: white;
  }
  footer {
    margin-top: 20px;
    background-color: navy;
  }
}
